@use '../../styles/index.scss' as *;
@import '../../../custom.scss';

#content {
  background-color: $primary;
  padding-top: 180px;
  padding-bottom: 96px;
    @include breakpoint-down(medium){
      // padding-top: 95px;
      // padding-bottom: 85px;
    }
    .hero-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;   
      font-family: $font-family-base;   
      .hero-content {
        text-align: center;
        padding-right: 245px;

        @include breakpoint-down(medium){
          padding: 0;
          display: block;
        }
        .hero-name {
          font-size: 52px;
          font-weight: 900;
          letter-spacing: 5px;
          @include breakpoint-down(small){
            font-size: 24px;
            letter-spacing: 4px;
            font-weight: normal;
          }
          &--name2 {
            color: $fourth;
          }
        }
        .hero-typedAnimation {
          font-size: 36px;
          margin-top: 10px;
          font-weight: 600;

          @include breakpoint-down(small){
            font-size: 24px;
            font-weight: normal;
          }
        }
        .buttons{
          margin: 8px 0;
          .btn{
            margin-inline: 8px;
            padding: 8px 16px;
            color: black;
            border-color: black;
            font-weight: 900;

            @include breakpoint-down(small){
              margin: 4px;
              font-weight: normal;
              margin-right: 4px;
            }

            a{
              text-decoration: none;
              color: black;
            }
            &:hover{
              color: $black;
              border-color: $fourth;
              background-color: $fourth;
            }
          }
          
        }
        .contact{
          padding-top: 24px;
          font-size: 20px;
          font-weight: bolder;
        }
      }
      .hero__col-2 {
        .ill-img {
          transform: scale(1.8);

          @include breakpoint-down(medium){
            transform: scale(1.2);
          }
        }
      }
    }
}
