@use '../../styles/index.scss' as *;
@import '../../../custom.scss';

.about {
  padding-top: 120px;
  background-color: $primary;
  // padding-left: 120px;

  @include breakpoint-down(medium) {
    // padding-left: 0px;
    padding-top: 48px;
  }

  .wrapper {
    width: 400px;
    height: 600px;

    @include breakpoint-down(medium) {
      width: 250px;
      height: 450px;
    }

    img {
      width: 100%;

      @include breakpoint-down(medium) {
        width: 100%;
        margin-left: 50%;
      }
    }
  }

  .wrapper-desc {
    font-size: 20px;
    padding-top: 16px;

    @include breakpoint-down(medium) {
      font-size: 16px;
      padding-top: 4px;
    }
  }

  .ic-div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icons {
      padding: 20px;
      font-size: 40px;
      color: black;

      @include breakpoint-down(medium) {
        font-size: 20px;
      }

      &:hover {
        color: $fourth;
      }
    }
  }

  .skills {
    padding: 48px 0;
    @include breakpoint(small) {
      padding: 0;
    }
  }

  .skill-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;

    .ico {
      width: 104px; /* Adjust width for consistent icon size */
      height: 104px; /* Adjust height for consistent icon size */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 8px;
      text-align: center;
      font-size: 16px;

      img {
        width: 40%; /* Adjust icon size inside each .ico */
        height: auto;
        object-fit: contain;
      }
    }
  }

  .fesc {
    @include breakpoint(small) {
      padding-top: 10px;
      margin-left: 120px;
    }
  }
}
